@import url('https://fonts.googleapis.com/css?family=Kameron');
:root {
    /*color schemes*/
    --background_app: lightgrey;
    --color_app: white;
    --background_container: #d3560e;
    --button_background: linear-gradient(#ff8000, #dd6f00);
    --border_color: #a50;
    --input_color: #121212;
    --result_color: #020202;
    --display_background: whitesmoke;
    /*font families*/
    --font_primary: 'Kameron', serif;
    /*sizes*/
    --width_app: 100%;
    --padding_app: 0px;
    --padding_container: 0px;
    --width_container: 400px;
    --button_size: calc((375px/4) - calc(var(--button_margin) * 3));
    --button_margin: 5px;
    --display_width: calc((var(--button_size) * 4) + (var(--button_margin) * 5));
    --display_height: 70px;
    --display_padding: 5px;
    --button_radius: 6px;
}